body{
    background-color: #FFFFFF;
    display:grid;
    grid-template-areas: "cabecalho" "corpo" "rodape";
    margin: 0px;
    
}
body header{
    grid-area: cabecalho;
    background-color: #707070;
    display: grid;
    grid-template-areas: "h1" "h2" "h3" "botoes";
    padding: 7vh;
}

body article{
    grid-area: corpo;
}

body footer{
    grid-area: rodape;
}
body article{
    display: grid;
    grid-template-areas: "conhecer ajudar" "produtos produtos" "compartilhe compartilhe";
}
/*Botões geral*/
 button{
    text-decoration: none;
    color: #888888;
    background-color: #FFFFFF;
    border: 0.4vh solid;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.8vh;
}

button :link{
    text-decoration: none;
    color:#888888
}

button :visited{text-decoration: none;
color:#888888;
}

button :hover{text-decoration: none;
    color:#888888;
    }

/*Grid do header*/
header h1{
    grid-area: h1;
    margin: 0vh;
    text-align: center;
    font-size: 2.8vh;
    font-family: Helvetica;
    color: #FFFFFF;
    
}

header h2{
    grid-area: h2;
    margin: 0vh;
    text-align: center;
    font-size: 5.6vh;
    font-family: Helvetica;
    color: #FFFFFF;
}

header h3{
    grid-area: h3;
    margin: 2vh;
    text-align: center;
    font-size: 2.1vh;
    font-family: Helvetica;
    color: #FFFFFF;
}
header div{
    grid-area: botoes;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header button{
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}
/*Grid do conheça a linx com o form inicial*/

#conhecer_section{
    grid-area: conhecer;
    margin-left: 3vh;
    margin-right: 3vh;
}

#ajudar_section{
    grid-area: ajudar;
    display: flex;
    flex-direction: column;
    color: #888888;
    font-size: 2vh;
    margin: 3vh;
}
.inputform{
    width: 30vw;
    margin-bottom: 2vh;
    height: 3.5vh;
}
.bolinha{
    width: 1vw;
    margin-bottom: 2vh;
}
.inputenviar{
    width: 30vw;
    margin-bottom: 2vh;
    color: #888888;
    background-color: #FFFFFF;
    border: 0.4vh solid;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.8vh;
}
article h1{
    color: #888888;
    font-family: Helvetica;
    font-size: 2.8vh;
    margin: 2vh;
    margin-top: 5vh;
}
article p{
    color: #888888;
    font-family: Helvetica;
    font-size: 2vh;
    margin: 2vh;
    text-align: justify;
}
/* section dos produtos*/
#produtos_section{
    grid-area: produtos;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#produtos_section h1{
    color: #888888;
    text-align: center;
    font-size: 3vh;
}

.listaprodutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.produto{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 4vh;
    width: 15vw;
    min-width: 230px;
    color: #888888;
    letter-spacing: 0px;
    text-align: left;
}
.imagemproduto{
    border: 0.3vh solid #707070;
}

/*Informaçoes de cada produto*/
.nome{
font-size: 2.4vh;
margin: 0vh;
margin-top: 3vh;
}
.descricao{
    margin: 0vh;
    margin-top: 3vh;
}
.price{
    font-weight: bold;
    margin: 0vh;
    margin-top: 3vh;
}
.oldprice{
    margin: 0vh;
    margin-top: 3vh;

}
.parcelado{
    margin: 0vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

/*section do form compartilhe*/
#compartilhe_section{
    grid-area: compartilhe;
}
#compartilhe_section h1{
    color: #888888;
    text-align: center;
    font-size: 3vh;
}
#compartilhe_section p{
    text-align: center;
    font-size: 2.4vh;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: #888888;
}
.campoform{
    display: flex;
    flex-direction: column;
    margin: 5vh;
    font-size: 2.4vh;
}

.campoform input{
    width: 50vh;
    height: 3.7vh;
}
#compartilhe_section form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputenviaramigo{
    width: 30vw;
    margin-bottom: 3vh;
    color: #888888;
    background-color: #FFFFFF;
    border: 0.4vh solid;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.8vh;
}
/* footer*/

footer{
    background-color: #707070;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vh;
    padding: 5vh;
    font-family: Helvetica;
}