body{
    display:grid;
    grid-template-areas: "cabecalho" "corpo" "rodape";
    
}
body header{
    grid-area: cabecalho;
}

body article{
    grid-area: corpo;
}

body footer{
    grid-area: rodape;
}